body {
    background-color: #E5E4E2;
    font-family: 'Montserrat';
}

button {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-background-clip: text; /* Clip background only around the text */
  -webkit-text-fill-color: #000; /* Set text color to black (adjust as needed) */
  transition: background-color 5000s ease-in-out 0s; /* Optional: Smooth transition */
}

input {
  border-color: #737271;
  border: 1px solid;
}

#status_faculty, #status_student {
      accent-color: maroon;
  }